/*****************************
Layout
*****************************/

@import "mixins";
$dark_blue: #333844;

body#admin {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
	margin: 0;
	padding: 0;
	
	background: #474D5A;
		
	#envelope {
		background: #fff;
		width: 1100px;
		margin: auto;
		position: relative;
		box-shadow: 0px 10px 20px #000000;
		padding: 0 5px;
	}
	
	.content {
		padding: 0 60px;
	}
				
	#status_bar { 
		background: #4C5260;
		height: 10px;
		text-align: right;
		padding: 5px 40px 15px 0;
		a, a:visited { color: #fff;};
	}		
	
	#status_bar.signed_in {
		@include gradiented(#85CBF9, #3399CC);		
		color: #333; 		
	}
	
	#admin_header {
		position: relative;
		padding: 50px 60px 0;
		background: url(backgrounds/dark_blue_darker_blue.png);				
    @include gradiented(#4C5260, #090E16);

		h1 {
			color: #fff;
			margin-bottom: 27px;
		}
		
		#admin_top_right {
			position: absolute;
			top: 35px;
			right: 40px;
			text-align: right;
			font-size: 14px;
			color: #eee;					
			
			a, a:visited {
				color: #fff;
			}
			
			#group_nav {
				float: right;
				height: 20px;
				margin-top: 10px;

				a {
					display: block;
					float: left;
					margin-left: 30px;
				}
			}	
			
		}
		
	}
	
	

	.page_header {
		padding: 0 60px;
		width: 100%;
		margin-left: -60px;
		background: url(backgrounds/white_beige.png);		
    @include gradiented(#FFF, #E1DED3);		

		h1 {
			font-size: 24px;
			padding-bottom: 10px;
			margin-bottom: 20px;			
		}
	}
	
	section {
		margin-bottom: 30px;
		background: #fff;
		
		h2 {
			color: $dark_blue;
			padding-bottom: 10px;
			border-bottom: 1px dotted #ccc;
			margin-bottom: 20px;
			font-size: 20px;
		}
	}
	
	section.page_content {
		padding: 40px 0;
	}
		
	#wrapper {
		width: 980px;
		margin: auto;
		z-index: 1;
	}

	
	/*****************************
	Nav
	*****************************/

	nav {
		margin: 10px 0;
		height: 38px;
		
		a {
			display: block;
			float: left;
			color: #fff;
			font-size: 14px;			
			padding: 10px 20px;
		}
		
		a.selected {
			background: url(backgrounds/beige_white.png);			
			@include gradiented(#E1DED3, #FFF);
			@include rounded;
			border: 1px solid #fff;
			color: $dark_blue;
			font-weight: bold;
		}
	}

	.top_right_controls {
		float: right;
		margin-top: 5px;
	}
	
	h2.page_section {
		background: #eee;
		padding: 10px 20px;
		margin-bottom: 20px;
	} 
	
	/*****************************
	Index
	*****************************/

	.index_item {
		padding: 20px 0;
		position: relative;
		border-bottom: 1px dotted #ccc;
		font-size: 14px;
	}

	.controls {
		float: right;
		margin-top: -5px;
	}

	.controls a {
		float: right;
		margin-left: 10px;
	}

	/*****************************
	Forms
	*****************************/

	input[type=text], input[type=password] {
		width: 300px;
		padding: 5px;
	}

	.field {
		margin-bottom: 15px;
		
		label {
			font-weight: bold;
		}
	}

	.field {
		.fields {
			padding: 15px;
			background: #eee;
			margin-bottom: 15px;
			height: 60px;
			
			.form_field_remove {
				margin-top: 23px;
			}
			
			input[type=text] {
				width: 275px;
			}
		}
	}

	.form_field_name, .form_field_field_type {
		float: left;
		margin-right: 20px;
	}
	
	#template_items {
		
		label {
			margin-bottom: 20px;
		}
		
		.template_row {
			margin-bottom: 20px;
			height: 200px;
			
			.template_item {
				float: left;
				margin-right: 20px;

				img {
					box-shadow: 0px 0px 3px #999;
					margin-left: 10px;
				}
			}			
		}
		
		
	}
	
	.datetime_field {
		select {
			width: 100px;
		}
	}
	
	/****************************************************
	Photos
	*****************************************************/

	.photos_index_image {
		float: left;
		margin-right: 30px;
	}

	.photos_index_image img {
		height: 60px;
	}

	.photo_index_item {
		height: 60px;
	}
	
	.photo_widget_form_item { float: left; margin-right: 30px; }

	/****************************************************
	Flash
	*****************************************************/

	ul#flash_list {
	  padding-left: 0px;
	  list-style-type: none;
		margin: 0px;
	}

	.flash_item {
	  padding: 10px 60px;
	  color: #fff;
	}

	.flash_item.notice {
    @include gradiented(#85CBF9, #3399CC);
		color: #fff;
	}

	.flash_item.error {
    @include gradiented(#FD8C8C, #CC0000);	
	}

	/****************************************************
	Edit Page Widgets
	*****************************************************/
	
	textarea {
		width: 100%;
	}

	.edit_widget {
		background: #eee;
		padding: 20px;
		margin: 10px 0;
	}

	.modal {
		left: 40%;
		width: 800px;
	}

	.modal-body textarea {
		width: 735px !important;
		height: 200px;
		padding: 15px;
	}

	.connectedSortable {
		min-height: 200px;
	}

	#sortable1 {
	}

	#sortable2 {
	}

	.sortable_widget {
		cursor: move;
	}
	
	/****************************************************
	Profile Page
	*****************************************************/
	
	.profile_widget_content textarea {
		width: 100%;
		height: 200px;
	}
		
	.edit.container {
		
		.top_level_row {
			
			background: #eee;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-bottom: 30px;
			margin-right: -20px;
			
			.row_header_form {
				padding-left: 20px;
				margin-bottom: 30px;
			}
			
			.column {
				background: #fff;
				min-height: 100px;
				margin-bottom: 20px;
				
				.sub_row {
					margin-bottom: 30px;
				}
			}
			
		}
		
		#add_row_form {
			padding: 20px;
		}
		
	}
	
	
	/****************************************************
	Textareas
	*****************************************************/

	#articles_edit_content textarea {
		width: 100%;
	}
	
	/****************************************************
	Rows and Columns
	*****************************************************/

	.page_row {
		min-height: 150px;
		width: 100%;
		margin-bottom: 20px;
		background: #eee;
		clear: both;
	}
	
	.page_column {
		min-height: 100px;
	}
		
}

/*****************************
Bootstrap Overrides
*****************************/

a.btn-warning:visited, a.btn-danger:visited, a.btn-info:visited {
	color: #fff;
}

