<div class="top_right_controls">
	<%= link_to 'New Nav Item', new_nav_menu_nav_item_path(@institution, @nav_menu), :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1>Editing nav_menu</h1>
</div>

<section class="page_content">
	<%= render 'form' %>
</section>